<p><%= notice %></p>

<h1 class="title">Editing Book</h1>

<%= form_for(@book) do |f| %>
    <h4>Title</h4>
    <%= f.text_field :Title, class: "book_title" %>
    <h4>Body</h4>
    <%= f.text_area :Body, class: "book_body" %>
    <%= f.submit "Update Book" %>
<% end %>

<!-- showへのリンクに誤りがある -->
<%= link_to "Show", book_path(@book), class: "show_#{@book.id}" %>
<%= link_to "back", books_path, class: "back" %>